@(tasks: List[Task], taskForm: Form[(String, Int)])

@import helper._

@implicitField = @{FieldConstructor(taskFieldConstructorTemplate.f)}

@main("Todo List") {

  <h1>@tasks.size task(s)</h1>

  <table>
    @tasks.map { task =>
      <tr>
	<td>
          <span class="done-@task.done">@task.label : @task.estimate pomodoros</span>
	</td>
	<td>
          @form(routes.Application.deleteTask(task.id), 'class -> "inline-form") {
            <input class="delete-task" type="submit" value="Delete">
          }
	</td>
	<td>
	  @if(!task.done){ 
	    @form(routes.Application.completeTask(task.id), 'class -> "inline-form") {
	      <input class="complete-task" type="submit" value="Done">
	    }
	  } else {
	    <img src="@routes.Assets.at("/images/glyphicons_198_ok.png")" alt="Done"/>
	  }
	</td]>
      </tr>
    }
  </table>

  <div id="timer">
    <input type="button" name="clickMe" value="click me and wait" onclick="timer()"/>
  </div>

  <div id="task-creation" class="top-spacer">
    <h1>Add a new task</h1>
    <p>Enter the name and estimate of your new task and click create</p>
    @form(routes.Application.newTask) {
      @inputText(taskForm("label"), '_label->"Label", 'help -> " Enter the name of your task")    
      @inputText(taskForm("estimate"), '_label->"Estimate (in pomodoros)", 'help -> "Enter a whole number between 0 and 5")
      <input type="submit" value="Create" class="top-spacer">
    }
  </div>

}
